body {
    background: linear-gradient(130deg, yellow,turquoise,yellow); /* Fondo degradado */
    background-attachment: fixed; /* Fondo fijo */
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    margin: 20px;
}

.contenido {
    max-width: 800px;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    /* Estilos específicos para pantallas con un ancho máximo de 600px */
    /* Por lo general, se utilizan para estilos responsive en dispositivos móviles */
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
